body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2c3e50; /* Cor de fundo do menu */
  }
  
  
  .form-container {
    display: inline-block;
    background-color: #f0f0f0; /* Cor de fundo do formulário */
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    width: 100%; /* Ajuste a largura conforme necessário */
    max-width: 50%; /* Defina a largura máxima */
    box-sizing: border-box;
    height: 67vh;
    box-shadow: rgb(178, 75, 56) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: background-color 0.5s ease;
  }
  .form-container:hover {
    display: inline-block;
    background-color: #ffffffcb; /* Cor de fundo do formulário */
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    width: 100%; /* Ajuste a largura conforme necessário */
    max-width: 50%; /* Defina a largura máxima */
    box-sizing: border-box;
    height: 67vh;
    box-shadow: rgb(209, 77, 54) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: background-color 0.5s ease;
  }



  .laranja{
    color: #b24b38;
  }
  
  @keyframes trocaCor {
    0%   {filter: brightness(1);}
    50%  {filter: brightness(2);}
    100% {filter: brightness(1);}
  }
  
  
  .suaClasse {
    animation: trocaCor 3s infinite;
  }
  
  h2 {
     margin-bottom: 20px; 
     text-align: center;
    }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
    position: relative;
    
  }
  
  input, textarea {
    padding: 10px;
    border: 1px solid #3498db; /* Cor do link no menu */
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: #2c3e50 0.3s ease;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  label {
    color: #3498db;
  }
  
  input:focus, textarea:focus {
    border-color: #ff4500; /* Cor da linha de sublinhado dos links */
  }
  
  button {
    color: #ffffff; /* Branco - Cor dos links */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:nth-child(1) { background-color: #ff4500; }
  button:nth-child(1):hover { background-color: #7a2100; /* Cor da linha de sublinhado dos links - mais escura no hover */ }
  
  button:nth-child(2) {
    color: #ff4500;
    border: 1px solid #ff4500;
  }
  
  button:nth-child(2):hover {
    color: #FFF;
    border: 1px solid #7a2100;
    background-color: #7a2100;
  }
  
  a { text-decoration: none;  }
  
  img{
    width: 250px;
    height: 200px;
    margin: auto;
    justify-content: center;
  
  }
  
  .img-container {
    background-color: #f0f0f0; /* Cor de fundo do formulário */
    padding: 20px;
    width: 100%; /* Ajuste a largura conforme necessário */
    max-width: 50%; /* Defina a largura máxima */
    box-sizing: border-box;
    display: flex;
    float: right;
    border-radius: 0px 10px 10px 0px;
    height: 50vh;
    text-align: center;
  }
  
  .container{
    width: 90%;
    margin: 0;
    padding: 0px;
  }

  .azul{
    color: #0f2f4b;
  }
  