
* {
  padding: 0px;
}
.cont_principal {
  position: absolute;
  width: 100%;
  height: 100%;
overflow: auto;
  background: rgb(250,249,247);
background: -moz-linear-gradient(-45deg,  rgba(250,249,247,1) 0%, rgba(221,218,209,1) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(250,249,247,1) 0%,rgba(221,218,209,1) 100%);
background: linear-gradient(135deg,  rgba(250,249,247,1) 0%,rgba(221,218,209,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f7', endColorstr='#dddad1',GradientType=1 );
}

.cont_centrar {
  position: relative;
  width: 500px;
 }

.cont_todo_list_top {
  position: relative;
  float: left;
  width: 100%;
  height: 60px;
  margin-top: 20px;
  box-shadow: 1px 15px 25px -5px rgba(0,0,0,0.3);
}

.cont_titulo_cont > h3 {
  text-align: left;
  margin-left: 25px;
 letter-spacing:7px;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  margin-top: 23px;
} 




.cont_titulo_cont {
  position: relative;
  float: left;
  width: 430px;
  height: 60px;
  background: rgb(42,72,107);
background: -moz-linear-gradient(left,  rgba(42,72,107,1) 0%, rgba(80,122,167,1) 100%);
background: -webkit-linear-gradient(left,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
background: linear-gradient(to right,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a486b', endColorstr='#507aa7',GradientType=1 );
  font-family: 'Open Sans', sans-serif;
}


.cont_add_titulo_cont {
position: relative;
  float: left;
  width: 70px;
  height: 60px;
  background: rgb(42,72,107);
background: -moz-linear-gradient(left,  rgba(42,72,107,1) 0%, rgba(80,122,167,1) 100%);
background: -webkit-linear-gradient(left,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
background: linear-gradient(to right,  rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a486b', endColorstr='#507aa7',GradientType=1 );

}

.cont_add_titulo_cont > a {
  display: block;
  color: #fff;
  font-size: 32px;
margin-top: 14px;
}

body {
  background: rgb(250,249,247);
background: -moz-linear-gradient(-45deg,  rgba(250,249,247,1) 0%, rgba(221,218,209,1) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(250,249,247,1) 0%,rgba(221,218,209,1) 100%);
background: linear-gradient(135deg,  rgba(250,249,247,1) 0%,rgba(221,218,209,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f7', endColorstr='#dddad1',GradientType=1 );

}

.cont_crear_new {  
position: relative;
  float: left;
  width: 100%;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
/* Propiedades Desactivadores */
-webkit-transform: scale(0,0);
-ms-transform: scale(0,0);
-o-transform: scale(0,0);
transform: scale(0,0);
height: 0px;
margin: 0px;
 
}

.cont_crear_new_active{
-webkit-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
height: 0px;
  margin: 10px 0px;
height: 190px;  
}
.cont_add_titulo_cont > a > i{
  transition: all 0.2s;
-webkit-transition: all 0.2s;
-o-transition: all 0.2s;
transition: all 0.2s;
}
.cont_add_titulo_cont_active > a > i{
-webkit-transform: rotate(130deg);
-ms-transform: rotate(130deg);
-o-transform: rotate(130deg);
transform: rotate(130deg);
}

.table th {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
color: #607D8B;
}

.table td {
  width: 33.33%;
}
.table td select {
  width: 100%;
  padding: 10px 0px;
  background-color: #fff;
box-shadow: 1px 5px 10px -5px rgba(0,0,0,0.5);
text-align: left;
}

.table td input {
  width: 93%;
  padding: 10px 2%;
  background-color: #fff;
border: none;
box-shadow: 1px 5px 10px -5px rgba(0,0,0,0.5);
text-align: left;
outline:none;
}

.btn_add_fin {
  position: relative;
  padding: 10px 20px;
  background-color: #4C75A1;
  border: none;
  margin: 10px auto;  
  box-shadow: 1px 5px 10px -5px rgba(0,0,0,0.5);
color: #fff;
cursor: pointer;
}

.titl_description {
 padding-top: 10px;
text-align: left;
margin-left: 6%;
position: relative;
float: left;
}

.cont_princ_lists {
  position: relative;
  float: left;
  width: 100%;
margin-top: 15px;
}

.cont_princ_lists > ul > li  {
  position: relative;
  float: left;
  width: 100%; 
  height: 75px;
  left: 0;
  background-color: #F1F1EF;
list-style: none;
box-shadow: 1px 10px 20px 0px rgba(218, 215, 206,0.8);
z-index: 2;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.col_md_1_list {
  width: 125px;
  position: relative;
  float: left;
  height: 20px;
  top:50%;
  margin-top: -10px;
}
.col_md_1_list > p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.col_md_2_list {
  width: 250px;
  position: relative;
  float: left;
  margin-top: 20px;
}
.col_md_2_list  > h4 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.col_md_2_list  > p {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: #999;
}



.col_md_3_list {
  width: 121px;
  position: relative;
  float: left;
height: 14px;
  top:50%;
  margin-top: -10px;
}

.col_md_3_list > .cont_text_date {
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;  
}
.col_md_3_list > .cont_text_date > p {
    text-align: right;
  margin-right: 20px;
}

.col_md_3_list:hover > .cont_btns_options{
opacity: 1;  

}

.col_md_3_list > .cont_btns_options{
  position: absolute;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #F1F1EF;
  width: 100%;
  height: 47px;
  top: 0px;
}

.col_md_3_list > .cont_btns_options > ul > li{
  position: relative;
  float: right;
  width: 100%;
list-style-type: none;
}

.col_md_3_list > .cont_btns_options > ul > li > a {
  display: block;
  width: 20px;
  height: 15px;
  background-color: #4C75A1;
  padding: 5px 3px;
  border-radius: 50%;
  color: #fff;
  margin-top: -5px;
}

.col_md_3_list > .cont_btns_options > ul > li > a > i {
  font-size: 15px;
}

.list_dsp_none {
  display: none;
opacity: 0;
margin-top: 20px;
}

.list_dsp_true {
margin:0px;
opacity: 1;  
}


.list_work {
  z-index: 1;  
}

.list_shopping > .col_md_1_list {
  border-left: 4px solid #e45;
  color: #e45;
}

.list_work > .col_md_1_list {
   border-left: 4px solid #2A476B;
   color: #2A476B;
}

.list_sport > .col_md_1_list {
   border-left: 4px solid #EF8A18;
   color: #EF8A18;
}

.list_music > .col_md_1_list {
   border-left: 4px solid #EE1E65; 
   color: #EE1E65;
}

.list_finish_state {
  opacity: 0.3;
  margin: 15px 0px;
  z-index: 1;
}

/* ----- MENU ----- */

:root {
  --menuBackgroundColor: #2c3e50; /* Azul Escuro - Cor de fundo do menu */
  --rLinkColor: #ffffff; /* Branco - Cor dos links */
  --menuLinkColor: #ffffff; /* Azul - Cor dos links no menu */
  --menuLinkColorUnactive: hsl(204, 8%, 76%); /* Cinza - Cor dos links não ativos no menu */
  --textUnderlinedLineColor: #ff4500; /* Branco - Cor da linha de sublinhado dos links */
  --menuBoxShadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24); /* Sombra do menu */
}

.r-link {
  display: var(--rLinkDisplay, inline-flex);
}

.r-link[href] {
  color: var(--rLinkColor);
  text-decoration: var(--rLinkTextDecoration, none);
}

.r-list {
  padding-left: var(--rListPaddingLeft, 0);
  margin-top: var(--rListMarginTop, 0);
  margin-bottom: var(--rListMarginBottom, 0);
  list-style: var(--rListListStyle, none);
}

.menu {
  --rLinkColor: var(--menuLinkColor, currentColor);
}

.menu__link {
  display: var(--menuLinkDisplay, block);
}

.menu__link:focus {
  background-color: var(--textUnderlinedLineColor, currentColor);
  color: #fff; /* Adicionando a cor do texto quando focado */
  transition: background-color 0.8s ease, color 0.8s ease; /* Adicionando transição */
}

.menu:hover .menu__link:not(:hover) {
  --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
}

.menu {
  background-color: var(--menuBackgroundColor, #f0f0f0);
  box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
}

.menu__list {
  display: flex;
  justify-content: space-between; /* Espaçamento uniforme entre os elementos */
  align-items: center; /* Centraliza verticalmente */
  text-align: center;
}

.menu__logo {
  order: -1; /* Move o logo para o início da lista */
}

.menu__link {
  padding: var(--menuLinkPadding, 1.5rem 2.5rem);
  font-weight: 700;
  text-transform: uppercase;
}

.text-underlined {
  position: relative;
  overflow: hidden;

  will-change: color;
  transition: color .25s ease-out;
}

.text-underlined::before,
.text-underlined::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--textUnderlinedLineColor, currentColor);

  will-change: width;
  transition: width .1s ease-out;

  position: absolute;
  bottom: 0;
}

.text-underlined::before {
  left: 50%;
  transform: translateX(-50%);
}

.text-underlined::after {
  right: 50%;
  transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after {
  width: 100%;
  transition-duration: .2s;
}

.menu__logout {
  margin-left: auto; /* Move o botão de logout para a direita */
}

.menu__logo {
  margin: auto;
  margin-left: 0;
}


header img {
  width: 35px;
  margin-left: 32px;
  margin-top: 16px;
}

header {
  max-width: 100%;
  left: 0;
  top: 0;
}


body{font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif; }

body{ 
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #546E82;
}

main{
  background-color: #546E82;
  height: 100%;
  max-width: 75%;
  align-items: center;
  margin: auto;
  margin-top: 15vh;
}

table{
  max-width: 100%;
  margin: auto;
  background-color: white;
  box-shadow: rgba(166, 167, 218, 0.35) 0px 5px 15px;
  text-align: center;
}

.container{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  align-items: center;
}

h2{
  text-align: center;
  font-weight: bold;
  margin-top: 15vh;
}

th{
  text-align: center;
}

#menu_detalhes{
  background-color: var(--textUnderlinedLineColor, currentColor);

}

#menu_detalhes:focus{
  text-decoration: none;
}


    .card {
        transition: transform 0.3s;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .btn-editar,
    .btn-excluir {
        margin-top: 10px;
    }

    .btn-editar,
    .btn-excluir,
    .btn-confirmar,
    .btn-cancelar {
        transition: background-color 0.3s, color 0.3s;
    }

    .btn-confirmar,
    .btn-cancelar {
        margin-right: 5px;
    }

    .btn-excluir:hover {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-confirmar:hover,
    .btn-cancelar:hover {
        background-color: #28a745;
        border-color: #28a745;
        color: #fff;
    }

    /* Adiciona transição suave nos botões */
    .card-body button {
        transition: background-color 0.3s, color 0.3s;
        margin-right: 5px;
        text-align: center;
        align-items: center;
        width: 100%;
        margin-bottom: 5px;
    }

    /* Ajusta o alinhamento dos botões Editar e Excluir */
    .btn-group {
        display: flex;
        gap: 10px;
    }

    /* Pop-up de confirmação */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* Ajusta o alinhamento dos botões Editar e Excluir */
.btn-group {
  width: 80%;
}

/* Adiciona transição suave nos botões */
.card-body button {
  transition: background-color 0.3s, color 0.3s;
  margin-right: 5px;
}

/* Aplica o mesmo estilo de scroll à descrição padrão da etapa */
.card-text {
  max-height: 100px;
  overflow-y: auto;
}

/* Adiciona scroll à descrição editável */
.form-editar textarea {
  max-height: 100px;
  overflow-y: auto;
}

/* Ajusta o tamanho da imagem */
.img-etapa {
  max-width: 100%; /* Ajusta a largura máxima para a largura do contêiner pai */
  height: auto; /* Mantém a proporção original da imagem */
}

.mt-5 h2 { margin-bottom: 30px; }

/* Adicione isso ao seu arquivo de estilo (detalhes_da_etapa.css) ou inclua diretamente no cabeçalho do HTML */


.form-criar {
  max-width: 300px; /* Ajuste o tamanho conforme necessário */
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff; /* Adicione a cor de fundo que preferir */
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
